* {
  box-sizing: border-box;
}
header {
  font-size: 36px;
}
.top-header {
  padding-top: 5px;
}
.bottom-header {
  background-color: rgba(35, 136, 154, 0.43);
}
.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 80px;
  font-size: 30px;
  font-weight: bold;
}
.board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0px;

}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3px;
  content: "";
  height: 100px;
  width: 100px;
  border: 6px solid grey;
  border-radius: 30px;
  background-color: rgba(35, 136, 154, 0.43);
  cursor: pointer;
  font-size: 90px;
  font-family: 'Indie Flower', monospace;
}
